# Why Not 2nd Edit

> Let us try one step - so fast

In [ ]:
# | default_exp first_notebook

## H2 here - section 1

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel("BA Code Master.xlsx").head()

,Unnamed: 0,BA Code,Country,BA Code for Consolidation,Ground Transport,Airport Office,Transit Center,Transit City,Regional Hub
0,NaN,AE10,United Arab Emirates,AE10,NaN,NaN,NaN,Abu Dhabi and Dubai,NaN
1,NaN,AL10,Albania,AL10,NaN,NaN,NaN,NaN,NaN
2,NaN,AM10,Armenia,AM10,NaN,NaN,NaN,NaN,NaN
3,NaN,AT10,Austria,AT10,NaN,Yes,NaN,Vienna,NaN
4,NaN,AW10,Aruba,AW10,NaN,NaN,NaN,NaN,NaN

In [ ]:
say_hello("Edwin")

'Hello Edwin'

In [ ]:
from IPython.display import display, SVG

display(
    SVG(
        '<svg height="100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="40"/></svg>'
    )
)

In [ ]:
# | hide
from nbdev.showdoc import *

In [ ]:
# | export
def foo():
    pass

In [ ]:
# | hide
import nbdev

nbdev.nbdev_export()